.maindiv{
 padding-bottom: 80px;
}
.divContact{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 10px;
    width:40%;
    height:auto;
    margin:40px auto 80px auto;
}
.contact{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-group{
  display:flex;
  flex-direction: column;
  width:50%;
}

.form-group label{
  text-align:left;
  margin-bottom:5px;
}

.form-group input{
  width:100%;
  border-radius:10px;
}
 
.form-group button{
  text-align:left;
  background-color: blue;
  width:70px;
  color: white;
   border-radius:10px;

}

.form-para{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: rgb(22, 22, 176);
    font-size: 30px;
    margin-top: 20px;
}