.con-body{
   background-color: grey;
   margin-top: 52px;
   width:100%;
   min-height: 180px;
   max-height: auto;
}
.con-body p{
    text-align: center;
    color: white;
    font-family: serif;
    font-size: 80px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .con-body{
        margin-top: 52px;
    }
}