.con-body-home{
   background-color: grey;
   margin-top: 52px;
   width:100%;
   min-height: 180px;
   max-height: auto;
}
.con-body-home p{
    text-align: center;
    color: white;
    font-family: serif;
    font-size: 80px;
    font-weight: bold;
}
.card-home button{
   background-color:grey ;
   border: 2px solid #56ccf2;
   font-size: 20px;
   color:white;
   padding: 10px 25px;
  margin-bottom: 30px;
}
.card-home{
 text-align: center;
}
.play-btn {
  width: 80px;
  height: 80px;
  border: 2px solid #56ccf2;
  border-radius: 50%;
  color: #56ccf2;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}
.play-btn i {
  font-size: 40px;
}
@media (max-width: 768px) {
    .con-body{
        margin-top: 52px;
    }
}