.cart-panel {
  position: fixed;
  top:70px; /* same as header height */
  right: -400px;
  min-width:350px;
  height: calc(100vh - 70px);
  background: white;
  border-left: 2px solid #ccc;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
  overflow: hidden; /* cart does NOT scroll */
  font-family: serif;
 
  
}

h2{
    text-align: center;
}

/* When cart opens */
.cart-panel.open {
  right: 0;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Cart header */
.cart-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 21px;
    font-family: serif;
    border-bottom: 2px black;
}

.cart-header span{
   border-bottom: 1px solid black;
}
/* Purchase button */
.purchase-btn {
  display:block;
  margin: 30px auto 0;
  padding: 10px;
  background: #56ccf2;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

  
}

/* MAIN CONTENT */
.content {
  padding: 20px;
}

.cart-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 0;
}
.cart-row {
  border-bottom: 1px solid black;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cart-total {
  display: flex;
  justify-content:flex-end;
  gap: 10px;
  font-size: 21px;
  font-family: serif;
}
.total{
font-weight: bold;
}
.remove{
    background-color: rgb(232, 72, 72);
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
@media (max-width: 768px) {
  .cart-panel {
    margin-top: 60px;
    width: 350px;     /* FULL SCREEN */
    right: -100%;
  }

  .cart-panel.open {
    right: 0;
  }
}