.nav-link.header-font {
  font-family:serif;
  color:white;
  font-size: 17px;
}
.navb{
    position: fixed;
    top: 0;
    z-index: 1000;
}
.div1{
  min-width: 70px;
  max-height: auto;
}
.cart-button{
  color: rgb(74, 192, 228);
  margin-top: -38px;
}