
.navb{
  position: fixed;
  top: 0;
  z-index: 1000;
 background-color: black;
  min-width: 100%;
  min-height:50px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap; 
}
.cart-wrapper {
  position: absolute;
  right: 30px;
  display: inline-flex;
  align-items: center;
}
.cart-button{
  position: absolute;
  color: rgb(74, 192, 228);
  top: -6px;
  right: -15px;
    font-size: 18px;
}

.nav-item {
  text-decoration: none;
  color:white;
  font-family:serif;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
}

.nav-item.active {
  color: #0d6efd;
  font-weight: 600;
}
