.name{
    color:black;
    font-size: 30px;
    font-weight: bolder;
    font-family: serif;
    text-align: center;
}
.about-page{
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}
.about-content {
  color: #666464;
  line-height: 1.6;
  font-size: 17px;
  font-family: serif;
  width:50rem;
   margin: 0 auto;
}
.about-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-top: 30px;
  margin-right: 50px;
  
}
